@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

body{
  background-image: url(/Assets/GigsCyberpunkBg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  display: block;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  font-family: "Cyber", sans-serif;
}

main{
  display: block;
  align-items: center;
  margin: 0px 0px auto 300px;
  height: 900px;
  width: 1620px;
}

.MainInfo{
  display: block;
  margin: 0px auto;
  height: 820px;
  width: 650px;
  background-color: rgba(94, 0, 0, 0.459);
  border: solid rgb(255, 68, 68);
  box-shadow: 0 0 50px rgb(255, 68, 68);
  
  z-index: -1;
  color: rgb(0, 247, 255);
}

.ScrollGigs{
  position: absolute;
  top: 100px;
  left: 350px;
  background-color: rgba(112, 0, 0, 0.596);
  width: 500px;
  height: 770px;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* For WebKit-based browsers like Chrome and Safari */
    &::-webkit-scrollbar {
      width: 12px;
      /* Adjust the width as needed */
    }
  
    &::-webkit-scrollbar-track {
      background-color: rgba(151, 2, 2, 0.842);
      /* Color of the scrollbar track */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgb(231, 42, 42);
      /* Color of the scrollbar thumb */
      border-radius: 6px;
      /* Roundness of the scrollbar thumb */
      box-shadow: 0px 0px 16px 20px rgb(255, 68, 68, 88%);
      /* Shadow properties */
    }
}

.SearchForScroll{
  background-color: rgba(255, 0, 0, 0.288);

  position: absolute;
  top: 70px;
  left: 350px;
  height: 30px;
  width: 500px;
}

.ProjectCard{
  height: 100px;
  width: 100%;
  margin: 5px 0px 5px 0px;

  background-color: rgba(0, 0, 0, 0.781);
  color: rgb(0, 247, 255);
}

.ProjectCardHeader{
  margin: 5px 0px 5px 0px;
  font-size: 40px;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  color: rgba(255, 68, 68, 0.842);
  text-shadow: 0 0 15px rgb(255, 122, 122);
}

.GigButton{
  background-color: transparent;
  height: 100px;
  width: 100%;
  border-color: transparent;
}

.GigButton:hover {
  background-color: rgba(255, 65, 65, 0.438);
}

.SearchLinkText{
  margin: 0px 52px 0px 20px;
  font-size: 16px;
  color: rgb(0, 247, 255);
  text-shadow: 0px 0px 20px rgb(92, 191, 248);
}