@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

body{
  background-image: url(/Assets/InfoCyberpunkBg.png);
  background-repeat: no-repeat;
  background-size:cover;
  display: block;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  font-family: "Cyber", sans-serif;
}

main{
  display: block;
  align-items: center;
  margin: 0px auto;
  height: 900px;
  width: 800px;
}

.Title{
  display: flex;
  align-items: center;
  height: 70px;
  width: 300px;
  margin: 10px 72px 0px;
  background-color: rgba(94, 0, 0, 0.459);
  
  border-top-style: solid;
  border-top-color:rgb(255, 68, 68);
  border-right-style: solid;
  border-right-color:rgb(255, 68, 68);
  border-left-style: solid;
  border-left-color:rgb(255, 68, 68);
  box-shadow: 0 0 50px rgb(255, 68, 68);
  
  color: rgb(0, 247, 255);
  text-shadow: 0px 0px 15px rgb(92, 191, 248);
}

.MainInfo{
  display: block;
  margin: 0px auto;
  height: 820px;
  width: 650px;
  background-color: rgba(94, 0, 0, 0.459);
  border: solid rgb(255, 68, 68);
  box-shadow: 0 0 50px rgb(255, 68, 68);
  
  z-index: -1;
  color: rgb(0, 247, 255);
}

.SubInfoHeaders{
  margin: 10px 20px auto;
  color: rgba(255, 68, 68, 0.842);
  text-shadow: 0 0 15px rgb(255, 122, 122);
  font-size: 22.5px;
}

.Name{
  margin: -6px 20px auto;
  color: yellow;
  font-size: 35px;
  text-shadow:0px 0px 15px red;
}

.AffiliationName{
  margin: -8px 20px auto;
  color: rgb(0, 247, 255);
  font-size: 35px;
}

.SubTitleInfoText{
  font-size: 30px;
}

.WantedNCPic{
  margin: -9px 46px auto;
  width: 250px;
}

.SmallInfo{
  margin: -230px 0px 120px 400px;
  width: 100px;
  height: 100px;
  color: white;
}

.TextInfo{
  margin: 0px 0px 0px 0px;
  width: 100px;
  font-size: 22.5px;
}

.EarlyLifeForText{
  margin: 10px 20px auto;
  color: rgba(0, 247, 255);
  font-size: 22.5px;
}

.ButtonCv{
  position: relative;
  margin: 50px auto auto -50px;
  z-index: +2;
}

.MoreInfoText{
  margin: 0px auto 5px 20px;
  font-size: 20px;
  width: auto;
}

hr.solid {
  border-top: 3px solid rgba(255, 68, 68, 0.842);
}

.NonText{
  font-size: 10px;
  color: rgba(255, 68, 68, 0.842);
  margin: -51px 0px 0px 130px;
  width: 200px;
  height: 50px;
}

.SmallNonText{
  margin: 0px 0px 0px 0px;
}

.NonSubText{
  position: absolute;
  top: 84px;
  right: 650px;
  color: rgba(255, 68, 68, 0.842);
}

.NonSubTextBase{
  font-size: 8.4px;
  position: absolute;
  top: 84px;
  right: 650px;
  color: rgba(255, 68, 68, 0.842);
}
.CompanyName{
  font-size: 30px;
  text-decoration: underline;
  position: absolute;
  top: 17px;
  right: 650px;
  color: rgba(255, 68, 68);
}