@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
  font-family: montserrat, arial, verdana;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(gjhyx3h8k72c1.png);
}

div{
  height: flex;
  width: 500px;
  text-align: center;
  font-size: 20px;
  color: #e3d6f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

a{
  color: #b172f5;
}

button{
  color: #b172f5;
}

select{
  color: #b172f5;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

thead tr {
  background-color: #f0de8fc9;
  color: #b172f5;
  text-align:center;
}

th,
td {
  padding: 12px 15px;
  color: #b172f5;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr {
  background-color: #f0de8fc9;
}

tfoot tr:last-of-type {
  border-bottom: 2px solid #c706a7;
}

tfoot td {
  font-weight: bold;
}

caption {
  padding-bottom: 12px;
  color: #c706a7;
}